# Gradle
.gradle/
build/
.kotlin/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Signing
*.jks
*.keystore
keystore.properties

# APK
*.apk
*.aab

# Logs
*.log